.BG {
    display: grid;
    grid-template-columns: repeat(12fr);
    margin: 0;
    height: 100px;
    width: 100vw;
    background-color: #014200;
    box-shadow: 0px 5px 5px gray;
}

ul {
    grid-column: 11 / span 1;
}

.link-box {
    display: inline;
    position: relative;
    top: 4.5vh;
}

.link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 55px;
    transition: transform 0.3s ease;
}

.link:hover {
    color: greenyellow;
    transform: scale(1.2);
}

.icon {
    grid-column: span 1;
    align-self: center;
    height: 80px;
    width: auto;
    position: relative;
    left: 20px;
    color: greenyellow;
}